*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:cadetblue;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height:10vh;
    margin-bottom: 5vh;
}

.headerTitle{
    background-color: blanchedalmond;
}

.container{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
}
.button{
    padding: 1vh 2vw 1vh 2vw;
    margin-right: 3vw;
    cursor: pointer;
    background-color: white;
}

.resetButton{
    padding:0.5vh 1vw 0.5vh 1vw;
    cursor: pointer;
    background-color: rgb(240, 99, 99);
}

.deleteButton{
    padding:0.5vh 1vw 0.5vh 1vw;
    cursor: pointer;
    background-color: rgb(240, 99, 99);
}

.count{
    margin-right: 3vw;
}

.buttonColor2{
    background-color:yellowgreen

}

.buttonColor1{
    background-color: white;
}

.buttonAddCounter{
    padding: 1vh 2vw 1vh 2vw;
    margin-right: 3vw;
    cursor: pointer;
    background-color: rosybrown;
}


.addButton{
    padding: 1vh 2vw 1vh 2vw;
    cursor: pointer;
    background-color: whitesmoke;
    margin-right: 5vw;
}

